.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-gray {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}


/* width and height for the scrollbar */

::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbar */
    height: 12px;
    /* for horizontal scrollbar */
}


/* track (the area on which the thumb rests) */

 ::-webkit-scrollbar-track {
    background: #000000;
}


/* the scrollbar itself */

 ::-webkit-scrollbar-thumb {
    background: #1f1f1f;
    border-radius: 6px;
}


/* on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}